.section {
    margin-top: -30px;
}
.content__wrap {
    @apply container relative;
}
.heading {
    @apply font-black text-white mx-8;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 26px;
}
.list__items {
    margin: 0 42px;
}
.list__item {
    @apply font-light mb-4;
    line-height: 22px;
    color: #A2A2A2;
}

.list__left__arrow {
    @apply inline-block;
    margin-right: 20px;
}

.lg__left__shape {
    @apply hidden xl:block absolute z-20;
    left: 258px;
    top: 27px;
}


.bg__img__wrap {
    @apply relative;
    height: 200px;
}
.bg__img__wrap:after {
    @apply block absolute left-0 bottom-0 right-0;
    content: '';
    height: 80%;
    background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(13, 13, 13, 1));
}
.bg__image {
    @apply w-full h-full object-cover;
}

/**/
@screen xl {
    .bg__img__wrap {
        height: 400px;
    }
    .heading {
        margin-left: 478px;
        font-size: 38px;
        line-height: 36px;
    }
    .list__items {
        margin: 0 492px;
    }
}
