.section {
    @apply text-white container relative;
    padding-top: 103px;
    margin-bottom: 100px;
}

.up__shape__wrap {}
.up__shape__wrap .mobile__shape{
    @apply ml-auto mr-0 xl:hidden;
    width: 343px;
}
.up__shape__wrap .lg__shape{
    @apply hidden xl:block;
}



.text__wrap {
}
.text__heading {
    @apply font-black text-white;
    padding-left: 32px;
    font-size: 44px;
}
.text__paragraph {
    line-height: 26px;
    padding-left: 35px;
    font-size: 22px;
    color: #A8A8A8;
    width: 273px;
}


.img__wrap {
    @apply bg-no-repeat bg-cover relative;
    margin: 75px 19px 0 19px;
}
.img {
    @apply w-full h-auto object-cover;
    border-radius: 22px;
    height: 195px;
}



.mobile__img__up__shape {
    @apply xl:hidden absolute left-0;
    width: 113px;
    top: -16px;
}
.lg__img__up__shape {
    @apply hidden;
}

/*xl screen*/
@screen xl {
    .section {
        padding-top: 388px;
        /*@apply mx-auto relative;*/
        /*width: 898px;*/
    }
    .up__shape__wrap {
        @apply absolute left-auto right-0 z-10;
        width: 762px;
        top: 388px;
    }
    .up__shape__wrap .lg__shape {
        @apply hidden xl:block;
    }
    .text__wrap {
        @apply absolute z-20;
        top: 298px;
        right: 199px;
        width: 496px;
        background-color: #2E2E2E;
        border-radius: 41px;
    }
    .text__heading {
        font-size: 81px;
        line-height: 97px;
        padding-left: 47px;
        padding-right: 72px;
        padding-top: 31px;
    }
    .text__paragraph {
        padding-left: 50px;
        padding-bottom: 46px;
        font-size: 28px;
        width: 394px;
        line-height: 37px;
    }

    .img__wrap {
        @apply h-full;
        margin: 0 234px;
    }
    .img {
        @apply h-full;
    }
    .lg__img__up__shape {
        @apply xl:block absolute left-0 top-0;
        width: 495px;
        margin-left: -166px;
        margin-top: -33px;
    }
}
