.header {
    @apply fixed left-0 top-0 right-0 bg-transparent z-50 text-center;
}
.contact__btn {
    @apply font-bold uppercase inline-block;
    font-size: 12px;
    background-color: #272727;
    line-height: 16px;
    margin-top: 23px;
    color: #C9C9C9;
    border-radius: 11px;
    padding: 4px 10px;
    letter-spacing: 1.105px;
}

@screen xl {
    .contact__btn {
        @apply ml-auto;
        margin-top: 34px;
        margin-right: 34px;
    }
}
