.banner {
    @apply border-b;
    height: 811px;
}
.banner__text {
    @apply mx-auto;
    height: 28px;
    margin-top: 177px;
    margin-bottom: 72px;
}
.banner__stylish__text {
    @apply w-full h-auto;
    margin-bottom: 8px;
}

.normal__text {
    @apply mx-auto text-white text-center;
    width: 152px;
    height: 80px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
}

.scroll__down__sec {
    @apply mx-auto text-center flex flex-wrap justify-center;
    margin-top: 169px;
    width: 90px;
    height: 102px;
}

.scroll__down__btn {
    @apply mx-auto cursor-pointer focus:outline-none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.scroll__down__icon__text_first {
    color: #E6E6E6;
    font-size: 16px;
}
.scroll__down__icon__text_last {
    font-weight: 300;
    color: #B2B2B2;
    font-size: 15px;
}
